.bookingSlotsSection {
  .tabHeaders {
    > span {
      width: auto;
      height: 3rem;
      padding: 0 2rem;
      cursor: pointer;
      line-height: 3rem;
      text-align: center;
      display: inline-block;
      background-color: var(--color-light-grey);

      &.active {
        background-color: var(--color-black);
        color: var(--color-white);
      }
    }
  }

  &__daysComponent {
    display: flex;
    flex-direction: row;
    max-height: 515px;
    overflow-y: auto;
    box-shadow: 0 0 25px 0 rgba(40, 47, 60, 0.05), 0 20px 25px 0 rgba(40, 47, 60, 0.05),
      0 3px 4px 0 rgba(40, 47, 60, 0.05);

    &__timeSection {
      flex: 1;

      > div {
        &:nth-child(even) {
          background-color: var(--color-lightest-grey);
        }
        &:first-child {
          min-height: 65px;
          background-color: azure;
          border-bottom: 1px solid var(--color-lightest-grey);
          @include sticky();
        }

        &:not(:first-child) {
          min-height: 75px;
          min-width: 150px;
          display: flex;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid var(--color-lightest-grey);
        }

        > p {
          padding-left: 1.5rem;
          margin-bottom: 0;
          font-family: PoppinsMedium;
          color: var(--color-mid-grey);
          font-size: 1.125rem;
          height: 26px;
        }
      }
    }

    &__daysSection {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: center;
      flex: 4;

      &__day {
        flex: 1;

        &__header {
          padding-top: 0.5rem;
          background-color: azure;
          border-bottom: 1px solid var(--color-lightest-grey);
          @include sticky();

          &__date {
            text-align: center;

            p:nth-child(1) {
              margin-bottom: 0;
            }
            p:nth-child(2) {
              font-family: PoppinsMedium;
              margin-bottom: 0;
              padding-bottom: 0.5rem;
            }
          }

          &__availabilityBtn {
            text-align: center;
            padding-bottom: 1rem;

            .appButton {
              button {
                padding: 0.25rem 0.8rem;
                min-width: unset;
                font-size: 0.625rem;
                color: var(--color-azure);
              }
            }
          }
        }

        &__slots {
          > div {
            padding: 0 0.5rem;
            border-bottom: 1px solid var(--color-lightest-grey);
            min-height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            &:nth-child(2n-1) {
              background-color: var(--color-lightest-grey);
            }

            > p {
              color: var(--color-azure);
              cursor: pointer;
              border: 1px solid var(--color-azure);
              text-align: center;
              margin-bottom: 0;
              width: 100%;
              text-transform: capitalize;
              user-select: none;
              padding: 0.2rem 1rem;
            }
          }

          .emptySlot {
            p {
              border: 1px dotted var(--color-cloudy-blue);
              cursor: default;
            }
          }

          .isSelected {
            p {
              background-color: var(--color-azure);
              color: var(--color-white);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.bookingSlotsFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;

  &__content {
    text-align: center;
    > div:first-child {
      .appButton {
        width: 100%;
        text-align: center;

        > button {
          padding: 0.8rem 7.5rem;

          @include respondBelow(sm) {
            padding: 0.8rem 2rem;
          }
        }
      }
    }

    > p {
      margin: 0;
      padding: 2.5rem 0 1.5rem 0;
    }
  }
}
.responsiveWeekTabs {
  &.tabHeaders {
    display: flex;

    span {
      &.active {
        flex: 1 1;
      }
    }
  }
}

.responsiveDaysComponent {
  box-shadow: 0 0 25px 0 rgba(40, 47, 60, 0.05), 0 20px 25px 0 rgba(40, 47, 60, 0.05),
    0 3px 4px 0 rgba(40, 47, 60, 0.05);
  &__dropdown {
    background-color: azure;
    padding: 1.5rem 1rem;

    .form-group {
      margin: 0;
    }
  }

  &__timeSlots {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      flex: 1;
      > div {
        padding: 0 1.5rem;
      }

      p {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__timeCol {
    > div {
      display: flex;
      min-height: 70px;

      p {
        margin: 0;
        font-size: 1.1rem;
        color: var(--color-mid-grey);
      }
    }
    div:nth-child(2n-1) {
      background-color: var(--color-lightest-grey);
    }
  }
  &__slotsCol {
    > div {
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    p {
      color: var(--color-azure);
      cursor: pointer;
      border: 1px solid var(--color-azure);
      text-align: center;
      margin-bottom: 0;
      text-transform: capitalize;
      user-select: none;
      min-width: 110px;
      padding: 0.2rem 1rem;
    }

    .emptySlot {
      p {
        border: 1px dotted var(--color-cloudy-blue);
        cursor: default;
      }
    }

    .isSelected {
      p {
        cursor: pointer;
        background-color: var(--color-azure);
        color: var(--color-white);
      }
    }
  }

  &__timeCol,
  &__slotsCol {
    > div:nth-child(2n-1) {
      background-color: var(--color-lightest-grey);
    }
  }
}
.daysComponent {
  display: flex;
  flex-direction: row;
  max-height: 515px;
  overflow-y: auto;

  .timeSection {
    flex: 1;

    > div {
      &:nth-child(even) {
        background-color: var(--color-lightest-grey);
      }
      &:first-child {
        min-height: 65px;
        background-color: azure;
        border-bottom: 1px solid var(--color-lightest-grey);
        @include sticky();
      }

      &:not(:first-child) {
        min-height: 75px;
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid var(--color-lightest-grey);
      }

      > p {
        padding-left: 1.5rem;
        margin-bottom: 0;
        font-family: PoppinsMedium;
        color: var(--color-mid-grey);
        font-size: 1.125rem;
        height: 26px;
      }
    }
  }

  .daysSection {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    flex: 4;

    &__day {
      flex: 1;

      &__header {
        padding-top: 0.5rem;
        background-color: azure;
        border-bottom: 1px solid var(--color-lightest-grey);
        @include sticky();

        &__date {
          text-align: center;

          p:nth-child(1) {
            margin-bottom: 0;
          }
          p:nth-child(2) {
            font-family: PoppinsMedium;
            margin-bottom: 0;
            padding-bottom: 0.5rem;
          }
        }

        &__availabilityBtn {
          text-align: center;
          padding-bottom: 1rem;

          .appButton {
            button {
              padding: 0.25rem 0.8rem;
              min-width: unset;
              font-size: 0.625rem;
              color: var(--color-azure);
            }
          }
        }
      }

      &__slots {
        > div {
          padding: 0 0.5rem;
          border-bottom: 1px solid var(--color-lightest-grey);
          min-height: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          &:nth-child(2n-1) {
            background-color: var(--color-lightest-grey);
          }

          > p {
            color: var(--color-azure);
            cursor: pointer;
            border: 1px solid var(--color-azure);
            text-align: center;
            margin-bottom: 0;
            width: 100%;
            text-transform: capitalize;
            user-select: none;
          }
        }

        .emptySlot {
          p {
            border: 1px dotted var(--color-cloudy-blue);
            cursor: default;
          }
        }

        .isSelected {
          p {
            background-color: var(--color-azure);
            color: var(--color-white);
            cursor: pointer;
          }
        }
      }
    }
  }
}
